apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  revisionHistoryLimit: 0
  replicas: 4
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: main
          image: ttl.sh/dhl/frontend
          ports:
            - containerPort: 8000
          env:
            - name: API_ORIGIN
              value: http://backend
          envFrom:
            - configMapRef:
                name: frontend
          startupProbe:
            httpGet:
              path: /api/livez
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 1
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /api/livez
              port: 3000
            failureThreshold: 2
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 500m
              memory: 500Mi